<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hrsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".empChangePass"></activity>
        <activity android:name=".requesttask.assignedTaskReport" />
        <activity android:name=".requesttask.viewAssignedTask" />
        <activity android:name=".expense.EmpExpenseReport" />
        <activity android:name=".Report.BeforeAdminReport" />
        <activity android:name=".expense.AdminExpenseReport" />
        <activity android:name=".leavemanagment.AllDataLeave" />
        <activity android:name=".leavemanagment.empReportLeave" />
        <activity android:name=".Report.BeforeReportActivity" />
        <activity android:name=".leavemanagment.admin.AdminReport" />
        <activity android:name=".adminpass.CredentialsChange" />
        <activity android:name=".support.DetailedPageEmp" />
        <activity android:name=".performance.AdminPerformanceView" />
        <activity android:name=".performance.AdminEmpPerformance" />
        <activity android:name=".performance.PerformanceActivity" />
        <activity android:name=".support.adminhelp.DetailedPage" />
        <activity android:name=".support.adminhelp.SupportList" />
        <activity android:name=".support.AppStsHelp" />
        <activity android:name=".support.SupportPage" />
        <activity android:name=".requesttask.TaskOverview" />
        <activity android:name=".requesttask.AllDataTask" />
        <activity android:name=".requesttask.requestedtask.AllDataRequest" />
        <activity android:name=".employee.EmpList" />
        <activity android:name=".requesttask.requestedtask.RequestPage" />
        <activity android:name=".requesttask.requestedtask.viewRequestedTask" />
        <activity android:name=".requesttask.viewTask" />
        <activity android:name=".requesttask.TaskPageAdmin" />
        <activity android:name=".requesttask.RequestPage" />
        <activity android:name=".fullImage" />
        <activity android:name=".leavemanagment.EmpView" />
        <activity android:name=".leavemanagment.MainActivity" />
        <activity android:name=".leavemanagment.ViewApp" />
        <activity android:name=".leavemanagment.userview" />
        <activity android:name=".AllData" />
        <activity android:name=".HRView" />
        <activity android:name=".EmpView" />
        <activity android:name=".expense.ExpenseActivity" />
        <activity android:name=".MainPage" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".postdata.PostData" />
    </application>

</manifest>